
/*Define Custom Theme Colors set*/
:root {
    --theme-primary-color: green;
    --theme-enfasis-color: green;
    --theme-secondary-color: green;
    --theme-text-color: green;
    --theme-buttons-text-color: green;
}

/*Define custom buttoms color*/
.button {
    background-color: var(--theme-primary-color);
    color: var(--theme-buttons-text-color);
}

.button:hover {
    background-color: var(--theme-enfasis-color);
}

/*Define custom inputs colors*/

.input {
    border: none;
    border-bottom-width: 2px;
    border-bottom-color: var(--theme-primary-color);
}

.input:focus {
    border-bottom-color: var(--theme-enfasis-color);
}

.fixed-top-nav {
    position: fixed;
    
    left: 0%;
    top: 0%;
    
    color: white;

    height: 10vh;    
}

.content-layout {
    background-color: lightgrey;
    height: 100vh;
    margin-top: 10vh;

}
