/*Define Custom Theme Colors set*/
:root {
    --theme-background-color: white;
    --theme-enfasis-background-color: lightgrey;
    --theme-primary-color: #2fb166;
    --theme-enfasis-color: #2b5a2b;
    --theme-secondary-color: darkgreen;
    --theme-text-color: #2a792a;
    --theme-buttons-text-color: #fcfdfc;
    --theme-buttons-background-color: #0c290c;
}

.only-text {
    text-decoration: none;
    color: var(--theme-text-color);
}

#web-logo {
    max-height: 12vh;
}

.fixed-top-navbar {
    min-height: 10vh;
    background-color: var(--theme-background-color);
    color: var(--theme-text-color);

    border-bottom: solid 2px var(--theme-primary-color);
}

.navbar-link {
    color: var(--theme-text-color);
    border-bottom: solid 2px var(--theme-background-color);
    text-decoration: none;
}

#navbarLinks .navbar-link:hover {
    background-image: linear-gradient(to top, var(--theme-enfasis-background-color), white, white);
    border-bottom: solid 2px var(--theme-enfasis-color);
}

/*Offcanvas style rules*/

#offcanvasOpenButton {
    max-width: 8vh;
    max-height: 7vh;
    width: 8vh;

}

#navOffcanvas {
    min-width: 70%;
}

#offcanvasHeader {
    background-image: url(../img/patron.jpg);
    background-position: center;
    background-repeat: repeat;

    animation: pattern_anim linear 20s;
    animation-iteration-count: infinite;
}

@keyframes pattern_anim {
    
    0% {
        background-position-x: 0%;
        background-position-y: 0%;
    }
    
    25% {
        background-position-x: 100%;
        background-position-y: 100%;
    }

    50% {
        background-position-x: 100%;
        background-position-y: 0%;
    }
    
    75% {
        background-position-x: 0%;
        background-position-y: 100%;
    }

    100% {
        background-position-x: 0%;
        background-position-y: 0%;
    }

}

.user-icon {
    border: solid 2px var(--theme-primary-color);
}

.user-icon:hover {
    border-color: var(--theme-enfasis-color);
}

.user-name {
    background-color: var(--theme-primary-color);
    color: var(--theme-buttons-text-color);
}

#offcanvasCloseButton {
    width: 5%;
    height: 10%;
    border: solid 2px black;
    border-radius: 10px;
}

#navOffcanvas .navbar-link:hover {
    background-color: var(--theme-enfasis-background-color);
}

/*Defining Content layout style*/
.content-layout {
    margin-top: 25vh;
    background-color: var(--theme-background-color);
}

#fixedBootomFooter {
    border: none;
    border-top: solid 2px var(--theme-primary-color);
}

/*Define custom buttoms color*/
.button {
    background-color: var(--theme-primary-color);
    color: var(--theme-buttons-text-color);
}

.button:hover {
    background-color: var(--theme-enfasis-color);
}

/*Define custom inputs colors*/
.input {
    border: none;
    border-bottom-width: 2px;
    border-bottom-color: var(--theme-primary-color);
}

.input:focus {
    border-bottom-color: var(--theme-enfasis-color);
}