
/* {border: solid 1px; }/**/

/*Define Custom Theme Colors set*/
:root {
    --theme-background-color: white;
    --theme-enfasis-background-color: lightgrey;
    --theme-primary-color: green;
    --theme-enfasis-color: green;
    --theme-secondary-color: green;
    --theme-text-color: green;
    --theme-buttons-text-color: green;
}

/*Define custom buttoms color*/
.button {
    background-color: var(--theme-primary-color);
    color: var(--theme-buttons-text-color);
}

.button:hover {
    background-color: var(--theme-enfasis-color);
}

/*Define custom inputs colors*/

.input {
    border: none;
    border-bottom-width: 2px;
    border-bottom-color: var(--theme-primary-color);
}

.input:focus {
    border-bottom-color: var(--theme-enfasis-color);
}

.fixed-top-navbar {
    min-height: 10vh;    
    background-color: var(--theme-background-color);
    color: var(--theme-text-color);
    
    border-bottom: solid 2px var(--theme-primary-color);
}

.navbar-link {
    color: var(--theme-text-color);
    border-bottom: solid 2px var(--theme-background-color);
    text-decoration: none;
}

#navLinks .navbar-link:hover {
    background-image: linear-gradient(to top,var(--theme-enfasis-background-color), white, white);
    border-bottom: solid 2px var(--theme-enfasis-color);
}

#navOffcanvas {
    min-width: 70%;
}

#offcanvas-header {
    background-image: url(../img/patron.jpg);
    background-position: center;
    background-repeat: repeat;
    
    animation: pattern_anim 10s alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes pattern_anim {
    
    0% {
        background-position-x: 50%;
        background-position-y: 0%;
    }
    
    25% {
        background-position-x: 100%;
        background-position-y: 50%;
    }
    
    75% {
        background-position-x: 50%;
        background-position-y: 100%;
    }
    
    100% {
        background-position-x: 0%;
        background-position-y: 50%;
    }

}

#offcanvasCloseButton {
    background-color: var(--theme-enfasis-background-color);
}

.content-layout {
    background-color: lightgrey;
}

