
/* {border: solid 1px; }/**/

/*Define Custom Theme Colors set*/
:root {
    --theme-background-color: white;
    --theme-enfasis-background-color: lightgrey;
    --theme-primary-color: green;
    --theme-enfasis-color: green;
    --theme-secondary-color: green;
    --theme-text-color: green;
    --theme-buttons-text-color: green;
}

/*Define custom buttoms color*/
.button {
    background-color: var(--theme-primary-color);
    color: var(--theme-buttons-text-color);
}

.button:hover {
    background-color: var(--theme-enfasis-color);
}

/*Define custom inputs colors*/

.input {
    border: none;
    border-bottom-width: 2px;
    border-bottom-color: var(--theme-primary-color);
}

.input:focus {
    border-bottom-color: var(--theme-enfasis-color);
}



.fixed-top-navbar {
    min-height: 15vh;    
    background-color: var(--theme-background-color);
    color: var(--theme-text-color);
    
    border-bottom: solid 2px var(--theme-primary-color);
}

.navbar-link {
    color: var(--theme-text-color);
    text-decoration: none;
}

.navbar-link:hover {
    background-color: var(--theme-enfasis-background-color);
    text-decoration: underline;
}

.content-layout {
    background-color: lightgrey;
}

.banner {
    background-image: url("../img/minsap.png");
    background-clip: content-box; 
    background-size: auto;
    background-repeat: no-repeat; 
}
