{% load static %}

<!-- Worker Description Section -->
<div
    class="row p-2 justify-content-center align-items-center g-2 text-start rounded-3 data-form p-2 m-0">
    
    <!-- Worker profile UserIcon -->
    <spam class="col-12 text-center" href=".">
        <img class="img rounded-1 fs-6 bg-gray user-icon-large" alt="user logo"
            src="/static/img/profiles/{{ detailed_worker.icon_path }}" width="150" height="150"
            id="detailed_worker_icon">
        <br>
    </spam>
    
    <!-- Worker profile Username -->
    <span class="col-12 text-nowrap overflow-hidden text-center user-name-label"
        id="detailed_worker_username">
        {{detailed_worker.system_role}}: {{ detailed_worker.username }}
    </span>

    <!-- Worker profile Names -->
    <span class="col-6 text-nowrap overflow-hidden">
        Nombre:
    </span>
    <span class="col-6 text-nowrap overflow-hidden" id="detailed_worker_first_name">
        {{ detailed_worker.first_name }}
    </span>

    <!-- Worker profile SurNames -->
    <span class="col-6 text-nowrap overflow-hidden">
        Apellidos
    </span>
    <spam class="col-6 text-nowrap overflow-hidden" id="detailed_worker_last_name">
        {{ detailed_worker.last_name }}
    </spam>

    <!-- Worker profile Genere -->
    <spam class="col-6 text-nowrap overflow-hidden">
        Sexo:
    </spam>
    <span class="col-6 text-nowrap overflow-hidden" id="detailed_worker_sex">
        {{ detailed_worker.sex }}
    </span>

    <!-- Worker profile Age -->
    <spam class="col-6 text-nowrap overflow-hidden">
        Edad:
    </spam>
    <span class="col-6 text-nowrap overflow-hidden" id="detailed_worker_age">
        {{ detailed_worker.age }} Años
    </span>

    <!-- Separation line -->
    <span class="col-12 border border-dark"></span>

    <!-- Worker Profile Job -->
    <spam class="col-6 text-nowrap overflow-hidden">
        Especialidad:
    </spam>
    <span class="col-6 text-nowrap overflow-hidden" id="detailed_worker_role">
        {{ detailed_worker.role }}
    </span>
    
    
    {% if system_user.system_role == 'admin' %}
    <!-- Worker Profile Permisions Granted -->
    <spam class="col-6 text-nowrap overflow-hidden">
        Permisos:
    </spam>
    <span class="col-6 text-nowrap overflow-hidden" id="detailed_worker_permissions">
        {{ detailed_worker.actions }}
    </span>
    {% endif %}
    
    <!--Separation line-->
    <span class="col-12 border border-dark"></span>

    <!-- Worker Profile Last Access -->
    <spam class="col-6 text-nowrap overflow-hidden">
        Ultimo Acceso:
    </spam>
    <span class="col-6 text-nowrap overflow-hidden" id="detailed_worker_last_login">
        <time id="detailed_worker_last_login">
            {{ detailed_worker.last_login }}
        </time>
    </span>

    <!-- Worker Profile Sigin Date -->
    <spam class="col-6 text-nowrap overflow-hidden">
        Fecha de Registro:
    </spam>
    <span class="col-6 text-nowrap overflow-hidden" id="detailed_worker_joined_date">
        <time id="detailed_worker_date_joined">
            {{ detailed_worker.date_joined }}
        </time>
    </span>

    <!-- Worker profile Action Buttons -->
    <div class="col-12 text-center">
        <div class="row justify-content-center">
            
            {% if system_user.system_role == 'admin' %}
            
            <!--Worker Events Log Option-->
            <a href="/events?user_id={{ detailed_worker.id }}"
                class="col-12 col-sm btn btn-sm --button m-2" id="detailed_worker_events_link">
                <img src="{% static 'img/profile-log.svg' %}" width="20" height="20"
                    class="img-fluid mb-1 me-1">
                EVENTOS
            </a>
            
            {% endif %}

            <!-- Worker Edit Option-->
            <a href="/worker/edit/{{ detailed_worker.id }}" class="col-12 col-sm btn btn-sm --button m-2"
                id="detailed_worker_edit_link">
                <img src="{% static 'img/edit-profile.svg' %}" width="20" height="20"
                    class="img-fluid mb-1 me-1">
                EDITAR
            </a>
            
            
            {% if system_user.system_role == 'admin' and detailed_worker.id != system_user.id %}
            
            <!-- Worker Supress Option -->
            <a href="/worker/supress/{{ detailed_worker.id }}"
                class="col-12 col-sm btn btn-sm btn-danger m-2" id="detailed_worker_supress_link">
                <img src="{% static 'img/delete-profile.svg' %}" width="20" height="20"
                    class="img-fluid mb-1 me-1">
                SUPRIMIR
            </a>

            {% endif %}

        </div>

    </div>

</div>