{% load static %}

<!--Web site header-->
<header>

    <!-- Navigation Bar -->
    <nav class="navbar fixed-top-navbar fixed-top" id="navbar">
        <div class="container-fluid">
            <div class="row w-100 m-0 text-center">

                <!--Nav banner-->
                <div class="col-12 col-sm-5">
                    <img src="{% static 'img/minsap.png' %}" class="img img-fluid m-0" id="web-logo">
                </div>

                <!--Nav blank Space-->
                <div class="col text-start">
                    <a class="btn d-inline d-sm-none p-0" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#navOffcanvas" aria-controls="navOffcanvas" id="offcanvasOpenButton">
                        <span class="container-fluid navbar-toggler-icon"></span>
                    </a>
                </div>

                <!--Nav user profile area-->
                <div class="col-4 col-md-3 d-none d-sm-flex">
                    <div class="row h-100 justify-content-between align-items-end container-fluid">

                        {% if user.is_authenticated == True %}
                        <!-- Show profile options if is user logged -->

                        <!--Profile User icon-->
                        <a class="col-10" href="{{ profile_url }}">
                            <img class="img img-rounded rounded-5 fs-6 bg-gray user-icon" alt="user logo"
                                src="{{ profile_icon }}" width="50" height="50">
                        </a>
                        
                        <!--Profile User name-->
                        <div
                            class="col-10 p-0 text-center text-nowrap overflow-hidden text-decoration-underline only-text">
                            {{ user.username }}
                        </div>

                        <!--Profile Exit button-->
                        <div class="col p-0">
                            <a href="{% url 'logout' %}">
                                <img class="img-fluid --button-ligth" src="{% static 'img/exit-dark.png' %}" width="25"
                                    height="25">
                            </a>
                        </div>

                        {% else %}
                        <!-- Show login options if user is not logged -->

                        <!--Generic Profile User icon-->
                        <a class="col-10 p-0" href="">
                            <img class="img img-rounded rounded-5 fs-6 bg-gray user-icon" alt="user logo"
                                src="{% static 'img/profiles/default_profile.png' %}" width="50" height="50">
                        </a>

                        <!--Login message-->
                        <div
                            class="col-10 p-0 me-1 fs-6 text-center text-nowrap overflow-hidden text-decoration-underline only-text">
                            AUTENTICAR
                        </div>

                        <!--Profile Exit button-->
                        <div class="col p-0">
                            <a href="{% url 'login' %}">
                                <img class="img-fluid --button-ligth" src="{% static 'img/key-dark.svg' %}" width="25"
                                    height="25">
                            </a>
                        </div>

                        {% endif %}

                    </div>
                </div>

                <!--Nav links-->
                <div class="col-12 mt-1">
                    <div class="row d-none d-sm-flex h-100 justify-content-center justify-content-sm-start align-items-end fs-6"
                        id="navbarLinks">

                        <!--  Define type_user rol links -->

                        {% if profile_type == 'ADMIN' %}
                        <a href="{% url 'patients' %}" class="col-2 nav-link navbar-link">
                            PACIENTES
                        </a>
                        <a href="{% url 'workers' %}" class="col-2 nav-link navbar-link">
                            ESPECIALISTAS
                        </a>
                        <a href="{% url 'events' %}" class="col-2 nav-link navbar-link">
                            EVENTOS
                        </a>

                        {% elif profile_type == 'WORKER' %}
                        <a href="{% url 'tests' %}" class="col-2 nav-link navbar-link">
                            EXAMANES
                        </a>

                        {% elif profile_type == 'PATIENT' %}
                        <a href="{% url 'results' %}" class="col-2 nav-link navbar-link">
                            RESULTADOS
                        </a>

                        {% endif %}

                    </div>
                </div>

            </div>
        </div>
    </nav>

    <!-- Navigation Offcanvas Side Menu-->
    <div class="offcanvas offcanvas-start p-0 w-50" tabindex="-1" id="navOffcanvas" aria-labelledby="offcanvasLabel">
        <div class="offcanvas-header bg-success align-items-start" id="offcanvasHeader">

            <!--User Profile picture -->
            <h5 class="offcanvas-title text-start">

                {% if user.is_authenticated == True %}
                <!-- Show profile icon if is user logged -->

                <a href="{{ profile_url }}">
                    <img class="img img-rounded rounded-5 fs-6 bg-gray user-icon" alt="user logo"
                        src="{{ profile_icon }}" width="80" height="80">
                </a>
                
                {% else %}
                
                <!-- Show generic profile icon if is'not user logged -->
                
                <a href="/login/">
                    <img class="img rounded-5 fs-6 bg-gray user-icon" alt="user logo"
                        src="{% static '/img/profiles/default_profile.png' %}" width="80" height="80">
                </a>

                {% endif %}

            </h5>

            <!--Offcanvas Close button -->
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
                id="offcanvasCloseButton">
            </button>

        </div>
        <div class="offcanvas-body p-0 w-100 text-start fs-4" id="offcanvasLinks">

            <!--Profile description and actions -->
            <div class="col-12 row justify-content-between text-ligth m-0 fs-6 text-nowrap overflow-hidden user-name">

                <!-- only show profile options if is user logged -->
                {% if user.is_authenticated == True %}

                <!--Profile user name-->
                <span class="col-8 text-nowrap overflow-hidden ps-3 user-name">
                    {{ user.username }}
                </span>

                <!--Profile Exit button-->
                <a href="{% url 'logout' %}" class="col-2 border-none p-0 text-end me-2">
                    <img class="img-fluid" src="{% static 'img/exit-ligth.png' %}" width="30" height="30">
                </a>

                {% else %}

                <span class="col-8 text-nowrap overflow-hidden ps-3 user-name">
                    DEBE AUTENTICAR
                </span>

                <!--Profile Exit button-->
                <a href="{% url 'logout' %}" class="col-2 border-none p-0 text-end me-2">
                    <img class="img-fluid" src="{% static 'img/key-ligth.svg' %}" width="30" height="30">
                </a>

                {% endif %}

            </div>

            <!-- Rendering offcanvas type_user links -->
            
            {% if profile_type == 'ADMIN' %}
            <a href="{% url 'patients' %}" class="col-12 nav-link offcanvas-link ps-3 fs-4">
                PACIENTES
            </a>
            <a href="{% url 'workers' %}" class="col-12 nav-link offcanvas-link ps-3 fs-4">
                ESPECIALISTAS
            </a>
            <a href="{% url 'events' %}" class="col-12 nav-link offcanvas-link ps-3 fs-4">
                EVENTOS
            </a>
            
            {% elif profile_type == 'WORKER' %}
            <a href="{% url 'tests' %}" class="col-12 nav-link offcanvas-link ps-3 fs-4">
                EXAMANES
            </a>

            {% elif profile_type == 'PATINT' %}
            <a href="{% url 'results' %}" class="col-12 nav-link offcanvas-link ps-3 fs-4">
                RESULTADOS
            </a>
            {% endif %}

        </div>
    </div>

</header>