<!-- Web site Fixed bootom foterBar -->
<footer class="">
    <div class="container-fluid m-0" id="bootom_footer">
        <div class="row h-100 justify-content-center align-items-center text-center">
            <div class="col bg-light" style="height: 10vh;">
                <!-- Footer content is here -->

                <time>
                    {{ current_time }}
                </time>
                
                <!-- End Footer content -->
            </div>
        </div>
    </div>
</footer>