<!-- Worker registration formulary -->
<form action="user-profile.html" class="form rounded-3 data-form p-2 m-0">
    
    <!-- Worker First Name inputs -->
    <fieldset class="row p-1 g-1">
        <div class="col-12 text-start">
            <label class="form-label">Nombres:</label>
        </div>
        <div class="col-12 col-sm-6">
            <input class="form-control form-input" id="firstName" type="text" maxlength="30" placeholder="Primer Nombre"
                required>
        </div>
        <div class="col-12 col-sm-6">
            <input class="form-control form-input" id="secondName" type="text" maxlength="30"
                placeholder="Segundo Nombre">
        </div>
    </fieldset>
    
    <!-- Worker Surnames Inputs -->
    <fieldset class="row p-1 g-1">
        <div class="col-12 text-start">
            <label class="form-label">Apellidos:</label>
        </div>
        <div class="col-12 col-sm-6">
            <input class="form-control form-input" id="firstSurName" type="text" maxlength="30"
                placeholder="Primer Apellido" required>
        </div>
        <div class="col-12 col-sm-6">
            <input class="form-control form-input" id="secondSurName" type="text" maxlength="30"
                placeholder="Segundo Apellido">
        </div>
    </fieldset>

    <!-- Worker Genere -->
    <fieldset class="row m-1 p-2 g-1 text-start border border-dark rounded-3">
        <div class="col-12 text-start">
            <label class="form-label">Genero:</label>
        </div>
        <div class="col-6 form-check">
            <input class="form-radio-input me-3" name="genere" id="male" type="radio" checked>
            <label class="form-check-label" for="#male"> Hombre</label>
        </div>
        <div class="col-6 form-check">
            <input class="form-radio-input me-3" name="genere" id="female" type="radio">
            <label class="form-check-label" for="#female"> Mujer</label>

        </div>
    </fieldset>

    <!-- Worker CI number -->
    <fieldset class="row p-1 g-1">
        <div class="col-12 text-start">
            <label class="form-label">Numero de CI:</label>
            <input class="form-control form-input" id="userCI" type="text" placeholder="No. de Carnet" required
                minlength="11" maxlength="11" onkeypress="return mathType(event ,'userCI','number-only');">
        </div>
    </fieldset>

    <!-- Worker Phone number -->
    <fieldset class="row p-1 g-1 justify-content-center">
        <div class="col-12 text-start">
            <label class="form-label">Telefono:</label>
        </div>

        <div class="col-4 col-md-2 text-start">
            <span class="form-control form-input">
                +53
            </span>
        </div>

        <div class="col">
            <input class="form-control form-input" id="userPhone" type="text" placeholder="#######" minlength="8"
                maxlength="8" onkeypress="return mathType(event ,'userPhone','number-only');">
        </div>

    </fieldset>

    <!-- Worker Information -->
    <fieldset class="row p-2 m-2 mt-2 g-2 border border-secondary rounded-3">

        <!-- Worker Section Title -->
        <spam class="col-12 text-center fw-bold">
            Especialidad:
        </spam>

        <!-- Worker Profile Job-Role -->
        <div class="col-12 m-1 text-start">
            <label for="workerJob" class="form-label m-1">Puesto:</label>
            <select name="workerJob" id="workerJob" class="form-select form-input">
                <option selected>Enfermera</option>
                <option>Tecnico de Laboratorio</option>
            </select>
        </div>

        <!-- Worker Profile Permissions Granted -->
        <div class="col-12 m-2 text-start">
            Permisos:

            <div class="row">
                <div class="col-12 col-md-6 text-start">
                    <label class="form-label m-1">
                        <input type="checkbox" id="userPermisionRead" class="form-checkox me-2">Consultar
                        muesta
                    </label>
                </div>

                <div class="col-12 col-md-6 text-start">
                    <label class="form-label m-1">
                        <input type="checkbox" id="userPermisionAdd" class="form-checkox me-2">Agregar
                        muesta
                    </label>
                </div>

                <div class="col-12 col-md-6 text-start">
                    <label class="form-label m-1">
                        <input type="checkbox" id="userPermisionEdit" class="form-checkox me-2">Modificar
                        muesta
                    </label>
                </div>

                <div class="col-12 col-md-6 text-start">
                    <label class="form-label m-1">
                        <input type="checkbox" id="userPermisionDelet" class="form-checkox me-2">Eliminar
                        muesta
                    </label>
                </div>

                <div class="col-12 col-md-6 text-start fw-bold">
                    <label class="form-label m-1">
                        <input type="checkbox" id="userPermisionRoot" class="form-checkox me-2">Administrador
                    </label>
                </div>


            </div>

        </div>

        <!-- Admin Password -->
        <fieldset class="col-12 form-group text-start mt-1">
            <div class="input-group mb-3">
                <input class="form-control form-input" name="adminPassword" type="password" id="adminPassword"
                    maxlength="30" placeholder="Contraseña de Administrador" required>

                <!--See password button-->
                <span class="input-group-text"
                    onclick="switchPasswordVisibility('adminPassword','seeAdminPasswordImage')">
                    <img class="img-fluid" id="seeAdminPasswordImage" src="./img/see-dark.svg">
                </span>

            </div>
        </fieldset>

    </fieldset>

    <!-- Worker Account Credentials -->
    <fieldset class="row p-2 g-1">
        <div class="col-12 p-2 text-start border border-secondary rounded-3">

            <!-- Section Title -->
            <label class="form-label w-100 text-center fw-bold">Credenciales:</label>

            <!-- Credential Fields -->
            <div class="row p-1">

                <!--User nickname-->
                <fieldset class="col-12 form-group text-start">
                    <label class="form-label ms-1" for="#userName">Usuario:</label>
                    <input class="form-control form-input" id="userName" type="text" maxlength="30"
                        placeholder="Teclee un nombre de usuario">
                </fieldset>

                <!--Recuperation mail-->
                <fieldset class="col-12 form-group text-start mt-3">
                    <label class="form-label ms-1" for="#userMail">Correo de
                        Recuperacion:</label>
                    <input class="form-control form-input" id="userMail" type="email" maxlength="30"
                        placeholder="example@nauta.cu" required onkeyup="verifyEmail('userMail');">
                </fieldset>

                <label class="form-label mt-3 ms-1" for="userPassword">Contraseña:</label>

                <!--User password (click -> showPassword)-->
                <fieldset class="col-12 col-xl-6 form-group text-start mt-1">
                    <div class="input-group mb-3">
                        <input class="form-control form-input" id="userPassword" type="password" maxlength="30"
                            placeholder="Teclee su c0ntr4s3ñ4" onkeyup="mathInputs('userPassword','userPassword2')">

                        <!--See password button-->
                        <span class="input-group-text"
                            onclick="switchPasswordVisibility('userPassword','seeUserPasswordImage')">
                            <img class="img-fluid" id="seeUserPasswordImage" src="{% static img/see-dark.svg %}">
                        </span>
                    
                    </div>
                </fieldset>

                <!--User password verify (click -> showPassword)-->
                <fieldset class="col-12 col-xl-6 form-group text-start mt-1">
                    <div class="input-group mb-3">
                        <input class="form-control form-input" id="userPassword2" type="password" maxlength="30"
                            placeholder="Repita su c0ntr4s3ñ4" onkeyup="mathInputs('userPassword','userPassword2')">

                        <!--See password button-->
                        <span class="input-group-text"
                            onclick="switchPasswordVisibility('userPassword2','seeUserPassword2Image')">
                            <img class="img-fluid" id="seeUserPassword2Image" src="{% static img/see-dark.svg %}">
                        </span>

                    </div>
                </fieldset>

            </div>

        </div>
    </fieldset>

    <!-- Formulary Buttons -->
    <div class="form-group text-end me-1 me-md-2">

        <!-- Dialog Close Option -->
        <a class="btn btn-sm btn-secondary" data-bs-dismiss="modal" data-bs-target="#workerSiginDialog">
            <img src="{% static 'img/delete-light.svg' %}" width="20" height="20" class="img-fluid mb-1 me-1 d-none d-sm-inline">
            CANCELAR
        </a>
        
        <!-- User Sigin Button -->
        <button class="btn btn-sm --button" type="submit">
            <img src="(% static 'img/add-profile.svg' %}" width="20" height="20" class="img-fluid mb-1 me-1">
            REGISTAR
        </button>

    </div>

</form>