{% load static %}

<!-- Worker Profile Formulary -->

<form
    action="{% if edited_worker %}/worker/update/{{edited_worker.id}}{% else %}/worker/sigin/{% endif %}"
    method="post" id="worker_profile_formulary" class="form rounded-3 data-form p-2 m-0">
    {% csrf_token %}

    <!--First name input group-->
    <fieldset class="row p-1 g-1">
        <div class="col-12 text-start">
            <label class="form-label">Nombres:</label>
        </div>
        <div class="col-12">
            <input type="text" name="first_name" id="worker_first_name" maxlength="30"
                placeholder="Primer Nombre" {% if edited_worker is None %}required{% endif %}
                value="{{ edited_worker.first_name }}" class="form-control form-input">
        </div>
    </fieldset>

    <!--User Surnames Inputs-->
    <fieldset class="row p-1 g-1">
        <div class="col-12 text-start">
            <label class="form-label">Apellidos:</label>
        </div>
        <div class="col-12">
            <input type="text" name="last_name" id="worker_last_name" maxlength="30"
                placeholder="Primer Apellido" {% if edited_worker is None %}required{% endif %}
                value="{{ edited_worker.last_name }}" class="form-control form-input">
        </div>
    </fieldset>

    <!--User Sex -->
    <fieldset class="row m-1 p-2 g-1 text-start border border-dark rounded-3">
        <div class="col-12 text-start">
            <label class="form-label">Genero:</label>
        </div>
        <div class="col-6 form-check">
            <input type="radio" name="sex" id="worker_sex_male" {% if "M" in edited_worker.sex %} checked
                {% endif %} value="M" class="form-radio-input me-3"
                {% if edited_worker is None %}required{% endif %}>
            <label class="form-check-label" for="##sex_male"> Hombre </label>
        </div>
        <div class="col-6 form-check">
            <input type="radio" name="sex" id="worker_sex_female" {% if not "M" in edited_worker.sex %}
                checked {% endif %} value="F" class="form-radio-input me-3"
                {% if edited_worker is None %}required{% endif %}>
            <label class="form-check-label" for="#sex_female"> Mujer </label>
        </div>
    </fieldset>

    <!--User Age Inputs-->
    <fieldset class="row p-1 g-1">
        <div class="col-12 text-start">
            <label class="form-label">Edad:</label>
        </div>
        <div class="col-12">
            <input type="number" name="age" id="worker_age" min="1" max="200"
                placeholder="Edad en A&nacute;os" {% if edited_worker is None %}required{% endif %}
                value="{{ edited_worker.age }}" class="form-control form-input">
        </div>
    </fieldset>

    <!--CI number-->
    <fieldset class="row p-1 g-1">
        <div class="col-12 text-start">
            <label class="form-label">Numero de CI:</label>
            <input type="text" name="ci" id="worker_ci" placeholder="No. de Carnet" minlength="11"
                maxlength="11" {% if edited_worker is None %}required{% endif %}
                value="{{ edited_worker.ci }}"
                onkeypress="return mathType(event ,'worker_ci','number-only');"
                class="form-control form-input">
        </div>
    </fieldset>

    <!--Phone number-->
    <fieldset class="row p-1 g-1 justify-content-center">
        <div class="col-12 text-start">
            <label class="form-label">Telefono:</label>
        </div>

        <div class="col-4 col-md-2 text-start">
            <span class="form-control form-input">
                +53
            </span>
        </div>

        <div class="col">
            <input type="text" name="phone" id="worker_phone" placeholder="#######" minlength="8"
                maxlength="8" value="{{ edited_worker.phone }}"
                onkeypress="return mathType(event ,'worker_phone','number-only');"
                class="form-control form-input">
        </div>

    </fieldset>

    {% if system_user.system_role == 'admin' and edited_worker.id != system_user.id %}
    
    <!-- Worker Information -->
    <fieldset class="row p-2 m-2 mt-2 g-2 border border-secondary rounded-3">

        <!-- Worker Section Title -->
        <spam class="col-12 text-center fw-bold">
            Especialidad:
        </spam>

        <!-- **Worker Profile Job-Role -->
        <div class="col-12 m-1 text-start">
            <label class="form-label m-1">Puesto:</label>
            <select name="role" id="worker_role" class="form-select form-input"
                {% if edited_worker is None %}required{% endif %} value="{{ edited_worker.role ">
                
                <option>Enfermeria</option>
                <option>Microbiologia</option>
                <option>Virologia</option>
                <option>Tecnico</option>
                
            </select>
        </div>

        <!-- Worker Profile Permissions Granted -->
        <div class="col-12 m-2 text-start">
            Permisos:

            <div class="row">
                <div class="col-12 col-md-6 text-start">
                    <label class="form-label m-1">
                        <input type="checkbox" name="permission_view" id="worker_permission_view"
                            {% if "-v " in edited_worker.actions %} checked {% endif %}
                            value="yes" class="form-checkox me-2">
                        Consultar analisis:
                    </label>
                </div>

                <div class="col-12 col-md-6 text-start">
                    <label class="form-label m-1">
                        <input type="checkbox" name="permission_create" id="worker_permission_create"
                            {% if "-c " in edited_worker.actions %} checked {% endif %} value="yes"
                            class="form-checkox me-2">
                        A&ntilde;adir analisis
                    </label>
                </div>

                <div class="col-12 col-md-6 text-start">
                    <label class="form-label m-1">
                        <input type="checkbox" name="permission_resolve" id="worker_permission_resolve"
                            {% if "-r " in edited_worker.actions %} checked {% endif %} value="yes"
                            class="form-checkox me-2">
                        Resolucionar analisis
                    </label>
                </div>

                <div class="col-12 col-md-6 text-start">
                    <label class="form-label m-1">
                        <input type="checkbox" name="permission_notify" id="worker_permision_notify"
                            {% if "-n " in edited_worker.actions %} checked {% endif %} value="yes"
                            class="form-checkox me-2">
                        Notificar analisis
                    </label>
                </div>
                <br>
                <div class="col-12 col-md-6 text-start fw-bold">
                    <label class="form-label m-1">
                        <input type="checkbox" name="permission_root" id="worker_permission_root"
                            value="yes" {% if "-root" in edited_worker.actions %} checked {% endif %}
                            class="form-checkox me-2">
                        Designar Administrador
                    </label>
                </div>
            
            
            </div>

        </div>
        
        <!-- Admin Password -->
        <fieldset class="col-12 form-group text-start mt-1">
            <div class="input-group mb-3">
                <input type="password" name="admin_password" id="admin_password" maxlength="30"
                    placeholder="Contraseña de Administrador" required class="form-control form-input">

                <!--See password button-->
                <span class="input-group-text"
                    onclick="switchPasswordVisibility('admin_password','seeAdminPasswordImage')">
                    <img class="img-fluid" id="seeAdminPasswordImage"
                        src="{% static '/img/see-dark.svg' %}">
                </span>

            </div>
        </fieldset>

        {% endif %}
        
    </fieldset>

    <!-- Worker Account Credentials -->
    <fieldset class="row p-2 g-1">
        <div class="col-12 p-2 text-start border border-secondary rounded-3">

            <!-- Section Title -->
            <label class="form-label w-100 text-center fw-bold">Credenciales:</label>

            <!-- Credential Fields -->
            <div class="row p-1">

                <!--User nickname-->
                <fieldset class="col-12 form-group text-start">
                    <label class="form-label ms-1">Usuario:</label>
                    <input type="text" name="username" maxlength="30"
                        placeholder="Teclee un nombre de usuario" value="{{ edited_worker.username }}"
                {% if edited_worker is None %}required{% endif %} class="form-control form-input">
    </fieldset>

    <!--Recuperation mail-->
    <fieldset class="col-12 form-group text-start mt-3">
        <label class="form-label ms-1">Correo de
            Recuperacion:</label>
        <input type="email" name="email" id="worker_email" maxlength="30" placeholder="example@nauta.cu"
            {% if edited_worker is None %}required{% endif %} onkeyup="verifyEmail('worker_email');"
            value="{{ edited_worker.email }}" class="form-control form-input">
    </fieldset>

    <label class="form-label mt-3 ms-1">Contrase&ntilde;a:</label>

    <!--User password (click -> showPassword)-->
    <fieldset class="col-12 col-xl-6 form-group text-start mt-1">
        <div class="input-group mb-3">
            <input type="password" name="password" id="worker_password" maxlength="30"
                placeholder="Teclee su c0ntr4s3&ntilde;4"
                {% if edited_worker is None %}required{% endif %}
                onkeyup="mathInputs('userPassword','worker_password2')" class="form-control form-input">

            <!--See password button-->
            <span class="input-group-text"
                onclick="switchPasswordVisibility('worker_password','seeUserPasswordImage')">
                <img class="img-fluid" id="seeUserPasswordImage" src="{% static '/img/see-dark.svg' %}">
            </span>

        </div>
    </fieldset>

    <!--User password verify (click -> showPassword)-->
    <fieldset class="col-12 col-xl-6 form-group text-start mt-1">
        <div class="input-group mb-3">
            <input type="password" id="worker_password2" maxlength="30"
                placeholder="Repita su c0ntr4s3&ntilde;4"
                {% if edited_worker is None %}required{% endif %}
                onkeyup="mathInputs('worker_password','worker_password2')"
                class="form-control form-input">

            <!--See password button-->
            <span class="input-group-text"
                onclick="switchPasswordVisibility('worker_password2','seeUserPassword2Image')">
                <img class="img-fluid" id="seeUserPassword2Image" src="{% static '/img/see-dark.svg' %}">
            </span>

        </div>
    </fieldset>

    </div>

    </div>
    </fieldset>

    <!-- Formulary Action Buttons -->
    <div class="form-group text-end me-1 me-md-2">

        {% if edited_worker is None %}
        <!-- Model Dialog Close Option -->
        <a class="btn btn-sm btn-secondary" data-bs-dismiss="modal" data-bs-target="#workerSiginDialog">
            <img src="{% static 'img/delete-light.svg' %}" width="20" height="20"
                class="img-fluid mb-1 me-1 d-none d-sm-inline">
            CANCELAR
        </a>
        {% endif %}

        <!-- Submit Button -->
        <button class="btn btn-sm --button" type="submit">
            {% if edited_worker %}
            <img src="{% static 'img/save.svg' %}" width="20" height="20" class="img-fluid mb-1 me-1">
            ACTUALIZAR

            {% else %}
            <img src="{% static 'img/add-profile.svg' %}" width="20" height="20"
                class="img-fluid mb-1 me-1">
            REGISTRAR

            {% endif %}
        </button>

    </div>

</form>