{% load static %}

<!--    Template render context values
    
    Description coneventions: key : data_type
                              type -> extended_type  
    
    {   current_date : datetime,
        profile_url : str,
        user : user {
            user.nickname : str
            user.picture_url : str
            user.name : str
            user.name2 : str
            user.surname : str
            user.surname2 : str
            user.genere : str        //avaliables 'male' | 'female'
            user.ci : str
            user.phone : str
            user.email : str
            user.blod_group : [      // avaliables ['A','B','O', '+ | -']
                value :: str,
                ...
            ]
            user.last_access_date : datetime
            user.registration_date : datetime
            
        },
        links : [ 
            link {
                link.href : str,
                link.text : str
            },
            {...}
        ]
    
    }
    
-->

<!-- User Description -->
<div class="row justify-content-center p-3 g-2 text-start text-nowrap rounded-3 data-form">
    
    <!--Profile User icon-->
    <spam class="col-12 text-center" href=".">
        <img class="img fs-6 bg-gray user-icon-large" alt="user logo" src="{% static user.picture_url %}" width="150"
            height="150">
    </spam>

    <!-- Profile Username-->
    <span class="col-12 text-nowrap overflow-hidden text-center user-name-label">
        {{ user.nickname }}
    </span>

    <!-- Profile Name -->
    <span class="col-6 text-nowrap overflow-hidden">
        Nombre:
    </span>
    <span class="col-6 text-nowrap overflow-hidden">
        {{ user.name }} {{ user.name2 }}
    </span>

    <!-- Profile SurName -->
    <span class="col-6 text-nowrap overflow-hidden">
        Apellidos
    </span>
    <spam class="col-6 text-nowrap overflow-hidden" id="userSurNames">
        {{ user.surname }} {{ user.surname2 }}
    </spam>

    <!-- Profile Genere -->
    <spam class="col-6 text-nowrap overflow-hidden">
        Sexo:
    </spam>
    <span class="col-6 text-nowrap overflow-hidden" id="userGenere">
        {{ user.genere }}
    </span>

    <!-- Profile Age -->
    <spam class="col-6 text-nowrap overflow-hidden">
        Edad:
    </spam>
    <span class="col-6 text-nowrap overflow-hidden" id="userAge">
        {{ user.age }} Años
    </span>

    <!-- Profile Blod Group -->
    <spam class="col-6 text-nowrap overflow-hidden">
        Grupo sanguineo:
    </spam>
    <span class="col-6 text-nowrap overflow-hidden blod-label" id="userBlodGroup">
        {{ user.blod_group }}
    </span>

    <!-- Separation line-->
    <span class="col-12 border border-dark"></span>

    <!-- Profile Last Access -->
    <spam class="col-6 text-nowrap overflow-hidden">
        Ultimo Acceso:
    </spam>
    <span class="col-6 text-nowrap overflow-hidden" id="userBlodGroup">
        <time>{{ user.last_access_date }}</time>
    </span>

    <!-- Profile Sigin Date -->
    <spam class="col-6 text-nowrap overflow-hidden">
        Fecha de Registro:
    </spam>
    <span class="col-6 text-nowrap overflow-hidden" id="userBlodGroup">
        <time>{{ user.registartion_date }}</time>
    </span>

    <!-- User Profile Action Buttons -->
    <div class="col-12 text-center">
        <div class="row justify-content-center">

            <!--User Events Log Option-->
            <a href="/profile/events/{{ user.id }}" class="col-12 col-sm btn btn-sm --button m-2">
                <img src="{% static 'img/profile-log.svg' %}" width="20" height="20" class="img-fluid mb-1 me-1">
                EVENTOS
            </a>

            <!-- User Edit Option-->
            <a href="/profile/edit/{{ user.id }}" class="col-12 col-sm btn btn-sm --button m-2">
                <img src="{% static 'img/edit-profile.svg' %}" width="20" height="20" class="img-fluid mb-1 me-1">
                EDITAR
            </a>

            <!-- User Supress Option -->
            <a href="/profile/supress/{{ user.id }}" class="col-12 col-sm btn btn-sm btn-danger m-2">
                <img src="{% static 'img/delete-profile.svg' %}" width="20" height="20" class="img-fluid mb-1 me-1">
                SUPRIMIR
            </a>

        </div>

    </div>

</div>