{% load static %}
<!-- EventLog Details Section -->
<div class="row p-2 justify-content-center align-items-center g-2 text-start">
    <!--Profile User icon-->
    <spam class="col-12 text-center" href=".">
        <img class="img-fluid rounded-3 fs-6 bg-dark p-2 user-icon-large" alt="user logo" src="img/profile-log.svg"
            width="150" height="150">
        <br>
    </spam>

    <!--Profile user name-->
    <span class="col-12 bg-warning text-dark fw-bold text-nowrap overflow-auto text-center" id="eventLogLabel">
        EVENT RESUME
    </span>

    <!-- User name of Logged event -->
    <span class="col-6 text-nowrap overflow-hidden">
        Usuario:
    </span>
    <spam class="col-6 text-nowrap overflow-hidden" id="userSurNames">
        username
    </spam>

    <!-- User permission of Logged event -->
    <span class="col-6 text-nowrap overflow-hidden">
        Permisos:
    </span>
    <spam class="col-6 text-nowrap overflow-hidden" id="userSurNames">
        r - a - e - d
    </spam>

    <!--Separation line-->
    <span class="col-12 border border-dark"></span>

    <!--Event log trigger description on System -->
    <span class="col-6 text-nowrap overflow-hidden">
        Accion:
    </span>
    <span class="col-6 text-wrap">
        En este apartado se encuentra
        la descripcion de una traza de
        evento producida por el usuario`
    </span>

    <!--Separation line-->
    <span class="col-12 border border-dark"></span>

    <!--Event log result on System -->
    <span class="col-6 text-nowrap overflow-hidden">
        Resulatdo:
    </span>
    <span class="col-6 text-wrap">
        En este apartado se encuentra
        la descripcion del resulatdo del
        evento en el sistema
    </span>

    <!--Separation line-->
    <span class="col-12 border border-dark"></span>

    <spam class="col-6 text-nowrap overflow-hidden">
        Fecha:
    </spam>
    <span class="col-6 text-nowrap overflow-hidden" id="userBlodGroup">
        <time>10/10/2022 <b>12:24PM</b></time>
    </span>

    <!--Event Log Action Buttons -->
    <div class="col-12">
        <div class="row justify-content-end p-2">

            <!-- Dialog Close Button -->
            <button type="button" class="col-12 col-sm btn btn-sm btn-secondary m-2" data-bs-dismiss="modal"
                data-bs-target="#eventLogDetailsDialog">
                <img src="img/delete-light.svg" width="20" height="20" class="img-fluid mb-1 me-1 d-none d-sm-inline">
                CERRAR
            </button>
            
            <!-- EventLog Supress-->
            <button type="button" class="col-12 col-sm btn btn-sm btn-danger m-2">
                <img src="img/delete-log.svg" width="20" height="20" class="img-fluid mb-1 me-1">
                SUPRIMIR
            </button>

        </div>
    </div>

</div>