{% load static %}

<!-- Entry Filtering Formulary -->
<form action="{{ filter_url }}" method="get" class="form mx-2">

    {% if 'date' in list_filters %}
    <fieldset class="row gy-2 fs-10">
        <h5 class="col-12">Intervalo:</h5>

        <!-- Filter range start date -->
        <spam class="col text-start">Desde:</spam>
        <input name="filter_range_first_date" type="date" placeholder="fecha inicial"
            value="{{filter.range_first_date}}" class="col-8 form-control form-input">

        <!-- Filter range final date -->
        <spam class="col text-start">Hasta:</spam>
        <input name="filter_range_last_date" type="date" placeholder="fecha final"
            value="{{filter.range_last_date}}" class="col-8 form-control form-input">

    </fieldset>
    {% endif %}

    {% if 'username' in list_filters %}
    <fieldset class="row gy-2 fs-10 mt-2">

        <!-- Filter username -->
        <spam class="col text-start">Nombre de usuario:</spam>
        <input name="filter_username" type="text" placeholder="usuario" value="{{filter.username}}"
            class="col-8 form-control form-input">

    </fieldset>
    {% endif %}

    {% if 'ci' in list_filters %}
    <fieldset class="row gy-2 fs-10 mt-2">

        <!-- Filter user CI -->
        <spam class="col-4 text-start">CI:</spam>
        <input name="filter_ci" type="text" placeholder="numero de CI" value="{{filter.ci}}"
            class="col-8 form-control form-input">

    </fieldset>
    {% endif %}

    {% if 'test_type' in list_filters %}
    <fieldset class="col-12 qy-2 m-1 text-start">

        <!-- Filter test by type -->
        <label class="form-label m-1">Tipo de Analisis:</label>
        <select name="filter_test_types" class="form-select form-input col-12">
            
            <option></option>

            <option {% if 'Nefrologico' in filter.test_types %} selected {% endif %}>
                Nefrologico
            </option>
            
            <option {% if 'Sanguineo' in filter.test_types %} selected {% endif %}>
                Sanguineo
            </option>
            
            <option {% if 'Virologico' in filter.test_types %} selected {% endif %}>
                Virologico
            </option>

        </select>

    </fieldset>
    {% endif %}
    
    {% if 'test_state' in list_filters %}
    <fieldset class="col-12 qy-2 m-1 text-start">

        <!-- Filter test by state -->
        <label class="form-label m-1">Estado del Analisis:</label>
        <select name="filter_test_states" class="form-select form-input col-12">
            
            <option value="waiting" {% if 'waiting' in filter.event_states %} selected {% endif %}>
                PENDIENTE
            </option>
            
            <option value="resolved" {% if 'resolved' in filter.event_states %} selected {% endif %}>
                LISTO
            </option>
            
            <option value="notified" {% if 'notified' in filter.event_states %} selected {% endif %}>
                NOTIFICADO
            </option>
        
        </select>
    
    </fieldset>
    {% endif %}
    
    {% if 'event_type' in list_filters %}
    <fieldset class="col-12 qy-2 m-1 text-start">

        <!-- Filter events by type -->
        <label class="form-label m-1">Tipo de Evento:</label>
        <select name="filter_event_types" class="form-select form-input col-12">
            
            <option value="log" {% if 'log' in filter.event_types %} selected {% endif %}>
                LOGS
            </option>
            
            <option value="warning" {% if 'warning' in filter.event_types %} selected {% endif %}>
                PROBLEMAS
            </option>
        
            <option value="danger" {% if 'danger' in filter.event_types %} selected {% endif %}>
                ERRORES
            </option>    

        </select>

    </fieldset>
    {% endif %}


    <fieldset class="row gy-2 fs-10 mt-2 text-center">
        <button type="submit" class="btn btn-sm btn-primary col-12">
            <img src="{% static 'img/filter.svg' %}" width="20" height="20"
                class="img-fluid mb-1 me-1 d-sm-inline">
            FILTRAR
        </button>
    </fieldset>

    </fieldset>
</form>