{% load static %}
<!-- Test addition formulary -->
<form action="/tests/resolve/" method="post" class="form">
    {% csrf_token %}

    <fieldset class="col-12 form-group m-2 text-start" id="testDetails">

        <!-- Test description area -->
        <div class="row p-1 g-1">
            <label class="form-label">Descripcion:</label>

            <!-- Asociated test type -->
            <spam class="col-4">
                TYPE:
            </spam>
            <input class="col-8 form-input" id="test_type" name="type" readonly>
            
            <!-- Asociated test ci -->
            <spam class="col-4">
                CI:
            </spam>
            <input class="col-8 form-input" id="test_patient_CI" name="ci" readonly>
            
            <!-- Asociated test id -->
            <spam class="col-4">
                ID: testID
            </spam>
            <input class="col-8 form-input" id="test_ID" name="id" readonly>

        </div>

        <!--Test resolution -->
        <fieldset class="row p-1 g-1">
            <div class="col-12 text-start">
                <label class="form-label">Resultado:</label>
                <textarea class="form-control" id="test_result" name="result" required
                    maxlength="512">
                </textarea>
            </div>
        </fieldset>

        <!-- Submit button -->
        <fieldset class="row p-1 g-1">
            <button type="submit" class="btn --button">
                <img src="{% static 'img/save.svg' %}" width="20" height="20"
                    class="img-fluid mb-1 me-1">
                GUARDAR
            </button>
        </fieldset>

    </fieldset>
</form>