{% extends "layouts/main_layout.html" %}

{% block title %}
USER: {{ user.username }}
{% endblock %}

{% block page_header %}
{% include "layouts/page_header.html" %}
{% endblock %}

{% block page_content %}

<!--Main Web Content is here-->
<div class="row w-100 h-50 m-0 justify-content-center">
    <div class="col col-sm-8 mx-2 text-center">
        <h3>Editar Perfil de Especialista:</h3>
        
        {% include 'forms/form_profile_edit_worker.html' %}
    </div>
</div>

{% endblock %}
<!--End of page content-->