<!--Modal Add Dialog-->
<div class="modal fade" tabindex="-1" aria-hidden="true" id="workerSiginDialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Dialog Title -->
            <div class="modal-header">
                Registrar Especialista
            </div>
            
            <!-- Dialog Content -->
            <div class="modal-body">
            
                {% include 'forms/form_signin_worker.html' %}
                
            </div>

        </div>
    </div>
</div>