{% load static %}

<!-- Modal Add test Dialog-->
<div class="modal fade" tabindex="-1" aria-hidden="true" id="editTestDialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            
            <div class="modal-header text-center">
                <spam class="modal-title">
                    Resolucionar Analisis
                </spam>
            </div>
            
            <!--test resolution formulary-->
            <div class="modal-body">
                {% include 'forms/form_edit_test.html' %}
            </div>
            
            <div class="modal-footer">
            </div>

        </div>
    </div>

</div>