<!-- Modal User Details Dialog-->
<div class="modal fade" tabindex="-1" aria-hidden="true" id="userDetailsDialog">

    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">

            <!--Modal Dialog Title-->
            <div class="modal-header">
                <spam class="modal-title">Detalles de Usuario</spam>
            </div>
            
            <!-- User Description Section -->
            <div class="modal-body">
                
                {% block form_user_details %}
                {% endblock %}
            
            </div>

        </div>


    </div>

</div>