<!--Modal Add Dialog-->
<div class="modal fade" tabindex="-1" aria-hidden="true" id="eventLogDetailsDialog">
    
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">

            <!-- Dialog title-->
            <div class="modal-header text-center">
                <spam class="modal-title">
                    Detalles del Evento:
                </spam>
            </div>

            <!-- Dialog Content -->
            <div class="modal-body">
                
                {% include 'details/event_details.html' %}
            
            </div>

        </div>

    </div>

</div>