<!--Modal Worker Details Dialog-->
<div class="modal fade" tabindex="-1" aria-hidden="true" id="workerDetailsDialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Dialog Title -->
            <div class="modal-header text-center">
                <spam class="modal-title">Detalles de Especialista</spam>
            </div>

            <!-- Dialog Content -->
            <div class="modal-body">

                {% block worker_details_formulary %}
                {% endblock %}
                
            </div>

        </div>
    </div>
</div>