<!-- Modal SiginUser Dialog-->
<div class="modal fade" tabindex="-1" aria-hidden="true" id="userSiginDialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Dialog Title-->
            <div class="modal-header text-center">
                <spam class="modal-title">Registrarse en SIIMA:</spam>
            </div>

            <!-- Dialog Content -->
            <div class="modal-body">
                
                {% include 'forms/form_signin_user.html' %}

            </div>

        </div>
    </div>
</div>