<!--Any web pages contents is here-->
<div class="row justify-content-center">

    <div class="col-12 text-center fs-5 fw-bold">
        Registro de Eventos
    </div>
    
    <!-- Event Logs List -->
    <div class="col-11 col-md-8 mt-2 border border-dark overflow-auto" style="height: 50vh;">

        <table class="table fw-bold">

            <thead>
                <th colspan="2" scope="col" class="col-5 text-center">Evento</th>
                <th scope="col" class="col text-center">Fecha</th>
                <th scope="col" class="col text-center">Tipo</th>
                <th scope="col" class="col text-center">Accion</th>
            </thead>

            <tbody class="text-center">

                <!-- Dangerous Event Log Entry-->
                <tr class="bg-danger text-light border-bottom border-dark">
                    <td class="col-1 text-center">
                        <img class="img p-1 rounded-3 bg-dark" src="img/profile-log.svg" width="40px" height="40px">
                    </td>
                    <td class="col-4">Permiso -a- Concedido</td>
                    <td class="col text-center">12/10/2022 11:00 AM</td>
                    <td class="col text-center">Peligroso</td>
                    <td class="col-4 text-center">
                        <button class="btn btn-sm btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#eventLogDetailsDialog">
                            <img src="img/see-ligth.svg" width="20" height="20" class="img-fluid mb-1 me-sm-1">
                            <span class="d-none d-sm-inline">
                                DETALLES
                            </span>
                        </button>
                    </td>
                </tr>

                <!-- Unusual Event Log Entry -->
                <tr class="bg-warning border-bottom border-dark">
                    <td class="col-1 text-center">
                        <img class="img p-1 rounded-3 bg-dark" src="img/profile-log.svg" width="40px" height="40px">
                    </td>
                    <td class="col-4">Usuario eliminado</td>
                    <td class="col text-center">11/10/2022 9:27 PM</td>
                    <td class="col text-center">Inusual</td>
                    <td class="col-4 text-center">
                        <button class="btn btn-sm btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#eventLogDetailsDialog">
                            <img src="img/see-ligth.svg" width="20" height="20" class="img-fluid mb-1 me-sm-1">
                            <span class="d-none d-sm-inline">
                                DETALLES
                            </span>
                        </button>
                    </td>
                </tr>

                <!-- Normal Event Log Entry -->
                <tr class="border-bottom border-dark">
                    <td class="col-1 text-center">
                        <img class="img p-1 rounded-3 bg-dark" src="img/profile-log.svg" width="40px" height="40px">
                    </td>
                    <td class="col-4">Usuario registrado</td>
                    <td class="col text-center">10/10/2022 10:46 PM</td>
                    <td class="col text-center">Comun</td>
                    <td class="col-4 text-center">
                        <button class="btn btn-sm btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#eventLogDetailsDialog">
                            <img src="img/see-ligth.svg" width="20" height="20" class="img-fluid mb-1 me-sm-1">
                            <span class="d-none d-sm-inline">
                                DETALLES
                            </span>
                        </button>
                    </td>
                </tr>

                <!-- Normal Event Log Entry -->
                <tr class="border-bottom border-dark">
                    <td class="col-1 text-center">
                        <img class="img p-1 rounded-3 bg-dark" src="img/profile-log.svg" width="40px" height="40px">
                    </td>
                    <td class="col-4">Usuario registrado</td>
                    <td class="col text-center">10/10/2022 8:07 PM</td>
                    <td class="col text-center">Comun</td>
                    <td class="col-4 text-center">
                        <button class="btn btn-sm btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#eventLogDetailsDialog">
                            <img src="img/see-ligth.svg" width="20" height="20" class="img-fluid mb-1 me-sm-1">
                            <span class="d-none d-sm-inline">
                                DETALLES
                            </span>
                        </button>
                    </td>
                </tr>

            </tbody>

        </table>

    </div>

</div>