{% load static %}

<!-- Main Web Contents is here-->
<div class="row justify-content-center">

    <!-- List Section Title-->
    <div class="col-12 text-center fs-5 fw-bold">
        Gestion de Usuarios
    </div>

    <!-- Registreds Users List -->
    <div class="col-11 col-md-8 mt-2 overflow-auto" style="height: 50vh;">
        <table class="table">

            <thead class="border-bottom border-dark">
                <th scope="col" class="col-6 text-center" colspan="2">Nombre</th>
                <th scope="col" class="col-4 text-center">Ultimo Acceso</th>
                <th scope="col" class="col-4 text-center">Accion</th>
            </thead>
            
            <tbody class="text-center">
                
                {% for patient in object_list %}
                
                <!-- Registred User Data Entry -->
                <tr class="border-bottom border-dark">
                    <td class="col-1 text-center">
                        <img class="img-rounded" src="/static/img/profiles/{{ patient.icon_path }}" width="40px" height="40px">
                    </td>
                    
                    <td class="col-5">
                        {{ patient.first_name }} {{ patient.last_name }}
                    </td>
                    
                    <td class="col-2 text-center">
                        {% if patient.last_login is not None %}
                            {{patient.last_login}}
                        {% else %}
                            NO LOGGUED
                        {% endif %}
                    </td>
                    
                    <td class="col-4 text-center">
                        
                        <button class="btn btn-sm btn-secondary text-nowrap" data-bs-toggle="modal"
                            data-bs-target="#userDetailsDialog">
                            <img src="{% static 'img/see-ligth.svg' %}" width="20" height="20"
                                class="img-fluid mb-1 me-sm-1">
                            <span class="d-none d-sm-inline">
                                DETALLES
                            </span>
                        </button>
                    
                    </td>
                </tr>

                {% endfor%}
            
            </tbody>
        
        </table>
    </div>
    
    <!-- User actions-->
    <div class="col-11 col-md-8 mt-2 text-end">
        <button class="btn btn-sm --button p-1 px-3 me-3" data-bs-toggle="modal"
            data-bs-target="#userSiginDialog">
            <img src="{% static 'img/add-profile.svg' %}" width="20" height="20" class="img-fluid mb-1 me-1">
            NUEVO
        </button>
    </div>
    
    {% include 'modals/modal_signin_patient.html' %}

</div>