/*Define Custom Theme Colors set*/

:root {

    --theme-background-color: #ffffff;
    --tehem-enphasis-background-color: #eaeceb;

    --theme-primary-color: #2fb166;
    --theme-secondary-color: #278f52;
    --theme-enphasis-color: #006400;

    --theme-text-color: #000000;
    --theme-ligth-text-color: white;
    --theme-focus-text-color: #0e300e;
    
    --theme-red-background-color: #f88282;
    --theme-red-text-color: #f85555;
    --theme-enphasis-red-text-color: #a02525;

}

.--text-small {
    font-size: 1rem;
}

.--only-text {
    text-decoration: none;
    color: var(--theme-text-color);
}

#web-logo {
    max-height: 12vh;
}

.fixed-top-navbar {
    min-height: 10vh;
    background-color: var(--theme-background-color);
    color: var(--theme-secondary-color);

    border-bottom: solid 2px var(--theme-primary-color);
}

.navbar-link, .link-green {
    color: var(--theme-secondary-color);
    border-bottom: solid 2px var(--theme-background-color);
    text-decoration: none;
}

.navbar-link:hover, .link-green:hover {
    color: var(--theme-enphasis-color);
    background-image: linear-gradient(to top, var(--theme-enphasis-background-color), white, white);
    border-bottom: solid 2px var(--theme-enphasis-color);
}

.link-black {
    color: black;
    text-decoration: none;
}

.link-black:hover {
    color: black;
    text-decoration: underline;
}

.link-red {
    color: var(--theme-red-text-color);
    text-decoration: none;
}

.link-red:hover {
    color: var(--theme-enphasis-red-text-color);
    text-decoration: underline;
}

.bg-green {
    background-color: var(--theme-primary-color);
}

.bg-red {
    background-color: var(--theme-red-background-color);
}

/*Offcanvas style rules*/

#offcanvasOpenButton {
    max-width: 8vh;
    max-height: 7vh;
    width: 8vh;

}

#navOffcanvas {
    min-width: 70%;
}

#offcanvasHeader {
    background-image: url(../img/patron.jpg);
    background-position: center;
    background-repeat: repeat;

    animation: pattern_anim linear 20s;
    animation-iteration-count: infinite;
}

@keyframes pattern_anim {

    0% {
        background-position-x: 0%;
        background-position-y: 0%;
    }

    25% {
        background-position-x: 100%;
        background-position-y: 100%;
    }

    50% {
        background-position-x: 100%;
        background-position-y: 0%;
    }

    75% {
        background-position-x: 0%;
        background-position-y: 100%;
    }

    100% {
        background-position-x: 0%;
        background-position-y: 0%;
    }

}

.user-icon-large {
    border: none;
}

.user-icon {
    border: solid 2px var(--theme-primary-color);
}

.user-icon:hover {
    border-color: var(--theme-enphasis-color);
}

#navOffcanvas .user-name, .user-name-label {
    background-color: var(--theme-secondary-color);
    color: var(--theme-ligth-text-color);
}

#offcanvasCloseButton {
    width: 5%;
    height: 10%;
    border: solid 2px black;
    border-radius: 10px;
}

.offcanvas-link:hover {
    background-color: var(--theme-secondary-color);
    color: var(--theme-ligth-text-color);
}

/*Defining Content layout style*/
.content-layout {
    margin-top: 24vh;
    background-color: var(--theme-background-color);
}

#fixedBootomFooter {
    border: none;
    border-top: solid 2px var(--theme-primary-color);
}

/*************************************************/
.data-form {
    min-height: 50vh;
    background-color: var(--tehem-enphasis-background-color);
    border: double 2px var(--theme-primary-color);
}

.--link {
    color: var(--theme-primary-color);
}

.--link:hover {
    color: var(--theme-focus-text-color);
}

.--link:visited {
    text-decoration: underline;
    color: var(--theme-primary-color);
}

/*Define custom buttoms color*/
.--button {
    background-color: var(--theme-primary-color);
    color: var(--theme-ligth-text-color);
}

.--button:hover {
    background-color: var(--theme-secondary-color);
    color: var(--theme-ligth-text-color);
}

/*Define custom inputs colors*/
.form-input {
    outline: none;
    border: solid 2px var(--theme-enphasis-background-color);
    border-bottom: solid 2px var(--theme-primary-color);
}

.form-input:focus {
    box-shadow: none;
    border: solid 2px var(--theme-primary-color);
}

input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 20px;
    height: 20px;
    
    
    /* background-color only for content */
    background-clip: content-box;
    border: 1px double var(--theme-primary-color);
    border-radius: 50%;

}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
    box-shadow: none;
    background-color: var(--theme-enphasis-color);
}


.blod-label {
    font-weight: bold;
    color: red;
}
